.speakers {
  background-color: rgba(189, 189, 189, 0.2);
  padding-top: 15px;
  padding-bottom: 8px;
  @media screen and (min-width: 767.99px) {
    padding-top: 24px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 767.99px) {
    padding-top: 104px;
   
  }
}

.speaker__header {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.speaker__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (min-width: 767.99px) {
    gap: 32px;
  }
}
.speaker__item {
  width: calc(50% - 10px);
  @media screen and (min-width: 767.99px) {
    width: 152px;
  }
  @media screen and (min-width: 1279.99px) {
    width: 288px;
}}
.speaker__foto {
  object-fit: cover;
}
.speaker__name {
  margin-top: 12px;
  font-weight: 600;
  text-align: center;
}
.speaker__scill {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  @media screen and (min-width: 767.99px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1279.99px) {
    font-size: 16px;
}
}
